<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BetterFolderBrowser" version="1.2.0" targetFramework="net481" />
  <package id="CefSharp.Common" version="144.0.120" targetFramework="net481" />
  <package id="CefSharp.Wpf" version="144.0.120" targetFramework="net481" />
  <package id="chromiumembeddedframework.runtime.win-x64" version="144.0.12" targetFramework="net481" />
  <package id="chromiumembeddedframework.runtime.win-x86" version="144.0.12" targetFramework="net481" />
  <package id="DiscordRichPresence" version="1.6.1.70" targetFramework="net481" />
  <package id="MaterialDesignColors" version="2.1.4" targetFramework="net481" />
  <package id="MaterialDesignThemes" version="4.9.0" targetFramework="net481" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.1.0" targetFramework="net481" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.135" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net481" />
  <package id="PixiEditor.ColorPicker" version="3.4.2.2" targetFramework="net481" />
  <package id="PixiEditor.ColorPicker.Models" version="1.0.10" targetFramework="net481" />
  <package id="Simple.Wpf.Terminal" version="2.3.57" targetFramework="net481" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net481" />
  <package id="System.Drawing.Common" version="10.0.0" targetFramework="net481" />
  <package id="System.Management.Automation" version="7.5.4" targetFramework="net481" />
  <package id="System.Memory" version="4.6.3" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net481" />
  <package id="WPF-UI" version="4.2.0" targetFramework="net481" />
  <package id="WPF-UI.Abstractions" version="4.2.0" targetFramework="net481" />
  <package id="WPF-UI.Tray" version="4.2.0" targetFramework="net481" />
</packages>